.v-portallayout {
}

.v-portallayout-spacing {
	height: 8px;
	width: 8px;
}

.v-portallayout-positioner {
	border: 2px dashed black;	
}

.v-portlet {
}

.v-app .v-portallayout .dragdrop-movable-panel {
	z-index: 200;	
}

.v-portlet .v-portlet-header {
	height: 18px;
	background-image: url(header-bg.png);
	width: 100%;
}

.v-portlet .v-portlet-header-button {
	margin-bottom: 1px;
	width: 16px;
	height: 16px;
	background: transparent;
	border: 0px;
}

.v-portlet .v-portlet-header-button-close {
	background-image: url(close.png);
}

.v-portlet .v-portlet-header-button-collapse {
	background-image: url(collapse.png);
}

.v-portlet .v-portlet-header-buttonbar {
	float: right;
}

.v-portlet .v-portlet-header-captionwrap {
	padding-right: 3px;
	font-weight: bold;
	font-size: 12px;
	line-height: normal;
	color: #fff;
	text-shadow: #000 0 -1px 0;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	-ms-text-overflow: ellipsis;
}

.v-portlet .v-portlet-header:hover {
	cursor: move;
}

.v-portlet .v-portlet-header:active {
	cursor: move;
}

.v-portlet .v-portlet-header-button-close:hover {
	background-image: url(close.png);
}

.v-portlet .v-portlet-header-button-collapse:active {
	background-image: url(collapse.png);
}