@import url(../reindeer/styles.css);

.v-app .dark-background {
	background-color: #878484;
}

.test  .v-app .v-portlet-header {
    border-radius: 5px 5px 0 0;
    -moz-box-shadow: 5px 5px 5px #ccc;
    -webkit-box-shadow: 5px 5px 5px #ccc;
    box-shadow: 5px 5px 5px #ccc;
}

.test .v-app .v-portlet-content {
    background-color: #FEFEFE;
    -moz-box-shadow: 5px 5px 5px #ccc;
    -webkit-box-shadow: 5px 5px 5px #ccc;
    box-shadow: 5px 5px 5px #ccc;
    border: 40px solid black;
}

.v-app .v-portallayout-spacing {
	width: 20px !important;
}

.v-test .v-portlet-header{
	color: black !important;
	border-color: red;
}

.v-test .v-portlet-content{
	border: 5px solid red !important;
}

.v-test .v-portlet-header{
	background-image: none;
	background-color: green;
}